@import 'config';
@import 'menu';

:root {
    /*Dark Blue (Dark Mode Elements):*/
    --clr-primary--300: hsl(209, 23%, 22%);
    /*Very Dark Blue (Dark Mode Background)*/
    --clr-primary--500: hsl(207, 26%, 17%);
    /*Very Dark Blue (Light Mode Text)*/
    --clr-primary--700: #111517;
    /*White (Dark Mode Text & Light Mode Elements): */
    --clr-neutral--100: #ffffff;
    /*Very Light Gray (Light Mode Background):*/
    --clr-neutral--300: hsl(0, 0%, 98%);
    /*Dark Gray (Light Mode Input):*/
    --clr-neutral--500: hsl(0, 0%, 52%);
    --ff: 'Nunito Sans', sans-serif;
    --fs-homepage: 14px;
    --fs-detail: 16px;
    --br: 0.5em; }

* {
    box-sizing: border-box;
}

body {
    @include background;
    background-color: #444;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;

}

// Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;
    margin-top: 2rem;
    &.lg-heading {
        font-size: 6rem;
        margin-top: 6rem;
    }

    &.sm-heading {
        margin-top: 1rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2), 0.5);
        
    }
}


a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        overflow: hidden;
        h1{
            margin-top: 20vh;
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        margin-top: 5.13vw;
        margin-left: 5.34vw;
        width: 9.72vw;
        height: 8.72vh;
        border: 0.16vw solid $secondary-color;
        border-radius: 50%;
        background-color: white;
      
        opacity: 0.2rem;
    }
    
    .bio {
        grid-area: bio;
      
       
    }
    
    .job-1 {
        grid-area: job1;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.36);
  cursor: pointer;
        padding: 0.5rem;
    }
    
    
    .job-2 {
        grid-area: job2;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  cursor: pointer;
    }
    
    
    .job-3 {
        grid-area: job3;
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.36);
  cursor: pointer;
    }
    
    .bio-image {
        width: 150px;
        height: 150px;
    }
    
    .job {
        background: lighten($color: $primary-color, $amount: 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }


}

// Work/projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);
   
    

    img {
        width: 100%;
        border: 3px #fff solid;
      
      

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
           
        }
    }
}

//contact page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    
    

    div {
        font-size: 0.7rem;
        border: 3px white solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
           
            background: $secondary-color;
            color: set-text-color($secondary-color);

           span {
            color: set-text-color($secondary-color);
           }
        }
    }
}

// Button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: none;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

.btn-dark {
    @extend .btn;
    background: darken($color: $primary-color, $amount: 50);
    color: #fff;
   
}

.btn-light {
    @extend .btn;
    background: lighten($color: $primary-color, $amount: 50);
    color: #333;
   
}

#contact {
  width: 100%;
  height: 100%;
  
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    border-radius: 0.2rem;
    
  }
  

form {
    padding: 2.5rem;
  }


.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375rem;
  padding: 0.375rem 0.75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem $secondary-color;
}



.send-button {
  margin-top: 15px;
  height: 34px;
  width: 280px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  border-radius: 0.2rem;
}

.alt-send-button {
  width: 254px;
  height: 34px;
  transition: all .2s ease-in-out;
  margin-top: 5px;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: $secondary-color; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  .portrait {
    background: url('../img/portrait.jpg');
    margin-top: 5.13vw;
    margin-left: 5.34vw;
    width: 15.72vw;
    height: 30.72vh;
    border: 0.16vw solid $secondary-color;
    border-radius: 50%;
   
}
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 50px;
    max-width: 280px;

  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
    align-items: center;
  }

  .portrait {
    background: url('../img/portrait.jpg');
    margin-top: 5.13vw;
    margin-left: 5.34vw;
    width: 15.72vw;
    height: 30.72vh;
    border: 0.16vw solid $secondary-color;
    border-radius: 50%;
   
}
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 100%;
  }
  .portrait {
    background: url('../img/portrait.jpg');
    margin-top: 5.13vw;
    margin-left: 5.34vw;
    width: 15.72vw;
    height: 30.72vh;
    border: 0.16vw solid $secondary-color;
    border-radius: 50%;
   
}
}
#main-footer {
    text-align: center;
    padding: 1rem;
    width: 100%;
    background: darken($color: $primary-color, $amount: 10);
    color: set-text-color($primary-color);
    height: 60px;
  
}#toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
  }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: block;
  }
  
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  
  /* on activation */
  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  
  

 
/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@mixin prefers-reduced-motion{
    /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
      scroll-behavior: auto;
    }
  
    *,
  *::before,
  *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
    }
@import 'mobile';
